.form-group,
.registerMessage,
.exampleInputEmail1,
.header
{
    color: #f72765;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}
.loginText, 
.text-muted
 {
    color: green;
    font-weight: bold;
    cursor: pointer;
}

