body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*---------Homepage----------*/

.agendaH5 {
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
}
.homeList {
  font-size: 18px;
}
.magentaCard {
  background-color: rgb(184, 23, 103);
  border-right: 4.5px outset rgba(224, 92, 136, 0.63);
  border-bottom: 4.5px outset rgba(167, 37, 117, 0.664);
}
.magentaPageCorner {
  max-width: 15%;
  max-height: 15%;
  position: absolute;
  align-items: right;
  bottom: 5px;
  right: 5px;
}

/*-----Home Page Corner Image------*/
.pageCorner {
  max-width: 25%;
  max-height: 25%;
  position: fixed;
  right: 0px;
  bottom: 0px;
}


/*------------Detail.js/Edit Note Page---------- */
.form-container {
  padding-left: 150px;
}
.editForm {
  max-width: 75%;
  padding: 25px;
  margin: 15px;
  background-color: rgb(184, 23, 103);
  border-top: 1.5px solid rgba(224, 92, 136, 0.63);
  border-right: 4.5px inset rgba(224, 92, 136, 0.63);
  border-bottom: 5px outset rgba(167, 37, 117, 0.664);
}

.editLabel {
  color: black;
  font-weight: lighter;
  font-size: 25px;
  font-family: 'Permanent Marker', cursive;

}

.backHome {
  display: flex;
  justify-content: space-between;
}

.editSaveButton {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 3px;
  padding-bottom: 5px;
  font-family: 'Permanent Marker', cursive;
}

.editPageCorner {
  position: absolute;
  width: 40px;
  height: 40px;
} 

.div-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: -20px;
}

.div-wrapper img {
  margin-left: auto;
  bottom: 0px;
  right: 0px;
}

.backDashboard {
  background-color: rgb(184, 23, 103);
  border-radius: .3rem;
  border-right: 4.5px inset rgba(224, 92, 136, 0.63);
  border-bottom: 5px outset rgba(167, 37, 117, 0.664);  
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  font-family: 'Permanent Marker', cursive;
}


/*-------------Calendar------------*/
.rbc-calendar {
  background-color: rgb(247, 239, 239);
  font-size: 12px;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  box-shadow: 10px 10px 5px rgba(78, 46, 31, 1.10);
  margin-left: auto;
  margin-right: auto;
}

.rbc-event-content {
  background-color: orange;
  color: black;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.2), 
             0 0  0 2px orange,
             0.3em 0.3em 1em rgba(0,0,0,0.3);

}
.rbc-btn-group {
  /* background-color: #a0f277; */
  /* font-family: 'Permanent Marker', cursive; */
  background-color: #77bbf2;
  /* background-color: #ef4df2; */
  /* padding: 20px; */
  /* box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3); */

}

.rbc-toolbar button {
  font-family: 'Permanent Marker', cursive;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 1px rgb(255,255,2),
             0.3em 0.3em 1em rgba(0,0,0,0.75);
}

/* .rbc-event {
  background-color: orange;
} */



