.list-group-item {
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
  color: #26a69a;
  font-size: 15px;
  border-bottom: 1.5px rgba(78, 46, 31, 0.5) inset;
  margin-bottom: 5px;
}

.noteH5 {
  margin-top: 0px;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
}

.list-overflow-container {
  max-height: 545px;
  border: 1px #dddddd solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2a878c;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}
