/* .card .magentaCard {
    background-color: rgb(184, 23, 103);
} */

.noteBoxTitle {
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-align: center;
    align-content: center;
}

.formBox {
    border-top: 1px solid rgba(134, 116, 105, 0.123);
}

input {
    color: white;
    font-size: 15px;
}
textarea {
    color: white;
    font-size: 15px;
}

.bodyPlaceholder {
    font-size: 15px;
}

.orange {
    background-color: rgb(196, 108, 9);
    border-right: 4.5px outset rgba(250, 153, 43, 0.712);
    border-bottom: 4.5px outset rgba(151, 71, 25, 0.664);
}

.orangePageCorner {
    max-width: 15%;
    max-height: 15%;
    position: absolute;
    align-items: right;
    bottom: 1px;
    right: 1px;
    }

.orangeAddButton {
    /* margin: 20px; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 5px darkgoldenrod;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
    color: black;
    align-items: center;
    }
    