/* Dashboard */
.dashboard-title {
    text-align: center;
}
.dashboardH3 {
    text-align: center;
}
.viewImportant {
    text-align: right;
}

.homeList {
padding: 16px, 16px, 16px, 16px;
}


/* Calendar */
.calendarImage {
    max-height: 80%;
    max-width: 80%
}
/* Navbar */
nav {
    background-color: rgba(0, 0, 0, .5);
}

