.jumbotron {
    background-color: green;
    padding: 1rem;
    /* max-height: 70%;
    max-width: 70%; */
    text-align: center;
}

/* Dashboard */

.dashboard-title {
    text-align: center;
}

/* Navbar */

.navlogo {
    max-width: 5%;
    max-height: 5%;
    min-width: 5%;
    min-height: 5%;
}
