/* Dashboard */
.dashboard-title {
    text-align: center;
}

.calendarImage {
    max-height: 80%;
    max-width: 80%
}
/* Navbar */
.navlogo {
    max-width: 5%;
    max-height: 5%;
    min-width: 5%;
    min-height: 5%;
}
